### Neste script vamos analisar os dados de malha fundiária mais importantes para a Hidreletrica de Teles Pires

Vamos analisar os grandes números para Teles Pires  
Primeiro vamos ler os dados

In [1]:
#Importando pacotes
import pandas as pd
import numpy as np
import glob
from itables import show
import jenkspy

In [2]:
#Definindo nome de arquivos e diretórios:
dir_tables = 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/'

my_list_files = glob.glob(dir_tables+'*.csv')

malha = ['assentamento','CAR','FloraNaoDest','SIGEF','ProtInt','UsoSus','TI']
my_list_files

['C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\Assentamentos_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\CAR_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\FloraNaoDest_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\Sigef_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\SNUCProtInt_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\SNUCUsoSUS_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\TIHomolog_SumOfValues_featureTable.csv']

In [3]:
#Lendo os arquivos, alimentando  a lista de DFs e criando uma coluna com que tipo de malha é

pd_list = []
for i in range(len(my_list_files)):
    a = pd.read_csv(my_list_files[i],sep = ';')
    a['Malha'] = malha[i]
    pd_list.append(a)

## Agora vamos calcular os grandes números para cada malha fundiária!  
Nós sabemos que a analise de Teles Pires possui 66.846.626,00 milhões de dolares.

In [4]:
#Vamos passar a coluna de área para number. Estava string
pd_list[0]['AssentSum'] = pd_list[0]['AssentSum'].str.replace(',','.').astype('float')
pd_list[1]['CAR_Sum'] = pd_list[1]['CAR_Sum'].str.replace(',','.').astype('float')
pd_list[2]['FloraNDest'] = pd_list[2]['FloraNDest'].str.replace(',','.').astype('float')
pd_list[3]['SigefSum'] = pd_list[3]['SigefSum'].str.replace(',','.').astype('float')
pd_list[4]['ProtIntSum'] = pd_list[4]['ProtIntSum'].str.replace(',','.').astype('float')
pd_list[5]['Sus_Sum'] = pd_list[5]['Sus_Sum'].str.replace(',','.').astype('float')
pd_list[6]['TI_Sum'] = pd_list[6]['TI_Sum'].str.replace(',','.').astype('float')


#Vamos passar a coluna de geometria para number. Estava string
pd_list[0]['area_geom'] = pd_list[0]['area_geom'].str.replace(',','.').astype('float')
pd_list[1]['area_geom'] = pd_list[1]['area_geom'].str.replace(',','.').astype('float')
pd_list[2]['area_geom'] = pd_list[2]['area_geom'].str.replace(',','.').astype('float')
pd_list[3]['area_geom'] = pd_list[3]['area_geom'].str.replace(',','.').astype('float')
pd_list[4]['area_geom'] = pd_list[4]['area_geom'].str.replace(',','.').astype('float')
pd_list[5]['area_geom'] = pd_list[5]['area_geom'].str.replace(',','.').astype('float')
pd_list[6]['area_geom'] = pd_list[6]['area_geom'].str.replace(',','.').astype('float')

#Vamos passar a coluna de Soma dividida pela geometria para number tbm
pd_list[0]['sum_Area'] = pd_list[0]['sum_Area'].str.replace(',','.').astype('float')
pd_list[1]['sum_Area'] = pd_list[1]['sum_Area'].str.replace(',','.').astype('float')
pd_list[2]['sum_Area'] = pd_list[2]['sum_Area'].str.replace(',','.').astype('float')
pd_list[3]['sum_Area'] = pd_list[3]['sum_Area'].str.replace(',','.').astype('float')
pd_list[4]['sum_Area'] = pd_list[4]['sum_Area'].str.replace(',','.').astype('float')
pd_list[5]['sum_Area'] = pd_list[5]['sum_Area'].str.replace(',','.').astype('float')
pd_list[6]['sum_Area'] = pd_list[6]['sum_Area'].str.replace(',','.').astype('float')

In [5]:
#Criando um dataframe apenas Para SNUC
pd_list[4]['SomaDolar'] = pd_list[4]['ProtIntSum']
pd_list[5]['SomaDolar'] = pd_list[5]['Sus_Sum']
del pd_list[4]['ProtIntSum']
del pd_list[5]['Sus_Sum']
SNUC = pd.concat([pd_list[4],pd_list[5]],ignore_index=True)
SNUC

,OID_,esfera,sum_gain,Point_Coun,Cat_Fun,Nome,Category,area_geom,sum_Area,Malha,SomaDolar
0,0,federal,"3922,464657619999798",21,2,PARQUE NACIONAL MONTANHAS DO TUMUCUMAQUE,Parque,38651.772085,0.677412,ProtInt,57058.0
1,1,federal,"3620,736607039999853",3,2,PARQUE NACIONAL DA CHAPADA DAS MESAS,Parque,1599.530023,0.039252,ProtInt,40750.0
2,2,estadual,"2866,416480570000203",1,2,PARQUE ESTADUAL DO XINGU,Parque,953.302497,0.031713,ProtInt,30060.0
3,3,federal,"1056,048177050000049",4,2,ESTACAO ECOLOGICA SERRA GERAL DO TOCANTINS,Estação Ecológica,7070.887385,0.146675,ProtInt,48208.0
4,4,federal,"150,864025292999997",1,2,PARQUE NACIONAL DO CABO ORANGE,Parque,6573.334962,9.666669,ProtInt,680.0
...,...,...,...,...,...,...,...,...,...,...,...
96,65,federal,"4827,648809379999875",2,3,FLORESTA NACIONAL DE ITACAIUNAS,Floresta,1367.001246,0.025938,UsoSus,52702.0
97,66,federal,"1961,232328809999899",6,3,RESERVA EXTRATIVISTA RIO CAJARI,Reserva Extrativista,5324.007060,0.177520,UsoSus,29991.0
98,67,estadual,"3319,008556450000015",1,3,ÁREA DE PROTEÇÃO AMBIENTAL DE SÃO GERALDO DO A...,Área de Proteção Ambiental,267.033934,0.017030,UsoSus,15680.0
99,68,federal,"9051,841517599999861",15,3,RESERVA EXTRATIVISTA VERDE PARA SEMPRE,Reserva Extrativista,12893.016763,0.088142,UsoSus,146275.0
100,69,federal,"1357,776227639999888",3,3,RESERVA EXTRATIVISTA RENASCER,Reserva Extrativista,2096.580515,0.141317,UsoSus,14836.0

In [8]:
#Vamos agora calcular o valor de soma das áreas e criar uma coluna para dividir pela total de Teles Pires
lista_colunas = ['AssentSum','CAR_Sum','FloraNDest','SigefSum','SomaDolar','TI_Sum']
Assentamento_soma = pd_list[0][lista_colunas[0]].sum()
Car_soma = pd_list[1][lista_colunas[1]].sum()
FloraNDest =  pd_list[2][lista_colunas[2]].sum()
SigefSum =  pd_list[3][lista_colunas[3]].sum()
SNUC_Sum =SNUC[lista_colunas[4]].sum()
TIsum = pd_list[6][lista_colunas[5]].sum()

lista_colunas_2 = ['AssentSum','CAR_Sum','FloraNDest','SigefSum','SNUC_Sum','TI_Sum']
lista_valores = [Assentamento_soma,Car_soma,FloraNDest,SigefSum,SNUC_Sum,TIsum]

#Pegando o numero de observaçoes para cada classe fundiária

lista_linhas = [pd_list[0].shape[0],pd_list[1].shape[0],pd_list[2].shape[0],pd_list[3].shape[0],
                SNUC.shape[0],pd_list[6].shape[0]]

#criando lista com o valor de área da geometria das malhas:
lista_geometria_area = [pd_list[0].area_geom.sum(),pd_list[1].area_geom.sum(),
                        pd_list[2].area_geom.sum(),pd_list[3].area_geom.sum(),
                       SNUC.area_geom.sum(),pd_list[6].area_geom.sum()]

lista_geometria_area

[35040.151534712975,
 8727.290677515366,
 354988.4136358575,
 307672.4808978155,
 727113.9392632324,
 364755.79044779186]

In [9]:
#criando um data frame com esses valores:
df_soma_malha = pd.DataFrame({'Tipo de Malha':lista_colunas_2,'Número de Propriedades':lista_linhas,'Soma, em Dolar, de importancia da Malha Fundiaria':lista_valores,
                             'Area da Malha':lista_geometria_area})
df_soma_malha['Porcentagem - Soma Por Total'] = (df_soma_malha['Soma, em Dolar, de importancia da Malha Fundiaria']/66846626)*100
df_soma_malha['Proporção - Soma Por Area da Malha'] =(df_soma_malha['Soma, em Dolar, de importancia da Malha Fundiaria']/df_soma_malha['Area da Malha'])
df_soma_malha['Proporção - Soma por Nº Propriedade'] = (df_soma_malha['Soma, em Dolar, de importancia da Malha Fundiaria'] / df_soma_malha['Número de Propriedades'])
df_soma_malha
df_soma_malha_order = df_soma_malha[['Tipo de Malha', 'Número de Propriedades', 'Soma, em Dolar, de importancia da Malha Fundiaria', 
                                     'Area da Malha','Porcentagem - Soma Por Total','Proporção - Soma Por Area da Malha','Proporção - Soma por Nº Propriedade']]
show(df_soma_malha_order.sort_values(by='Soma, em Dolar, de importancia da Malha Fundiaria',ascending=False))

Podemos perceber que, em dolar, os imóveis cadastrados no SIGEF somam 15.740.286 de dolares de importância para Teles Pires o que representa 23.5% do valor total para Teles Pires. <br/><br/>
Depois vem Terra Indigena com 15.425.792 de dolares de importância para Teles Pires, o que representa 23.07% para Teles Pires.<br/><br/>

### Selecionando agora os top imoveis baseado na soma e soma de área

In [ ]:
#Instalando pacote:
!pip install jenkspy

Primeiro para área

In [10]:
#Criando as quebras para cada malha fundiária
jenks_assentamento = jenkspy.jenks_breaks(pd_list[0]['AssentSum'], n_classes=5)

jenks_CAR = jenkspy.jenks_breaks(pd_list[1]['CAR_Sum'], n_classes=5)

jenks_FloraNaoDest = jenkspy.jenks_breaks(pd_list[2]['FloraNDest'], n_classes=5)

jenks_Sigef = jenkspy.jenks_breaks(pd_list[3]['SigefSum'], n_classes=5)

jenks_SNUC = jenkspy.jenks_breaks(SNUC['SomaDolar'],n_classes=5)

jenks_TI = jenkspy.jenks_breaks(pd_list[6]['TI_Sum'], n_classes=5)

In [13]:
#Criando coluna para cada dataframe sobre os Buckets referentes a cada jenks pela soma dos dolares
coluna_name = ['AssentSum','CAR_Sum','FloraNDest','SigefSum','SomaDolar','TI_Sum']
jenks=[jenks_assentamento,jenks_CAR,jenks_FloraNaoDest,jenks_Sigef,jenks_SNUC,jenks_TI]
pd_list[0]['cut_jenks'] = pd.cut(pd_list[0][coluna_name[0]],
                        bins=jenks[0],
                        labels=['bucket_1', 'bucket_2', 'bucket_3', 'bucket_4', 'bucket_5'], include_lowest=True)

pd_list[1]['cut_jenks'] = pd.cut(pd_list[1][coluna_name[1]],
                        bins=jenks[1],
                        labels=['bucket_1', 'bucket_2', 'bucket_3', 'bucket_4', 'bucket_5'], include_lowest=True)

pd_list[2]['cut_jenks'] = pd.cut(pd_list[2][coluna_name[2]],
                        bins=jenks[2],
                        labels=['bucket_1', 'bucket_2', 'bucket_3', 'bucket_4', 'bucket_5'], include_lowest=True)

pd_list[3]['cut_jenks'] = pd.cut(pd_list[3][coluna_name[3]],
                        bins=jenks[3],
                        labels=['bucket_1', 'bucket_2', 'bucket_3', 'bucket_4', 'bucket_5'], include_lowest=True)

SNUC['cut_jenks'] = pd.cut(SNUC[coluna_name[4]],
                        bins=jenks[4],
                        labels=['bucket_1', 'bucket_2', 'bucket_3', 'bucket_4', 'bucket_5'], include_lowest=True)

pd_list[6]['cut_jenks'] = pd.cut(pd_list[6][coluna_name[5]],
                        bins=jenks[5],
                        labels=['bucket_1', 'bucket_2', 'bucket_3', 'bucket_4', 'bucket_5'], include_lowest=True)

In [16]:
pd_list[0].query('cut_jenks=="bucket_4" or cut_jenks=="bucket_5"')

,OID_,cd_sipra,uf,nome_proje,municipio,area_hecta,capacidade,num_famili,fase,data_de_cr,forma_obte,data_obten,area_calc_,sr,descricao_,AssentSum,area_geom,sum_Area,Malha,cut_jenks
46,46,MB0104000,PA,PA BURITIRANA,ITUPIRANGA,43500.0000,1000,616,6,13/08/1997,Arrecadação,01/01/1997,"43706,890500000001339",,,14525.0,427.633562,0.029441,assentamento,bucket_4
56,56,PA0666000,PA,PAE ILHA GRANDE DE GURUPA,GURUPA,304590.6481,1292,1075,3,29/12/2011,Em Obtenção - T.Coop.Tec. SPU,29/12/2011,"299014,225800000014715",,,23002.0,2985.058697,0.129774,assentamento,bucket_4
75,75,MB0124000,PA,PA LUCIANA,OURILANDIA DO NORTE,103000.0000,1000,331,3,02/03/1998,Arrecadação,02/03/1998,"63865,006200000003446",,,45553.0,636.701702,0.013977,assentamento,bucket_5
78,78,AT0217000,PA,PA ESPERANÇA,ALTAMIRA,12654.7997,168,164,3,14/12/2006,Arrecadação,14/12/2006,"14952,410299999999552",,,15381.0,149.524096,0.009721,assentamento,bucket_4
79,79,AT0216000,PA,PDS ESPERANÇA,ALTAMIRA,15172.1312,235,220,3,14/12/2006,Arrecadação,10/12/1983,"18011,897300000000541",,,23473.0,180.111478,0.007673,assentamento,bucket_4
200,200,MB0229000,PA,PA PAU BRASIL,SANTANA DO ARAGUAIA,21222.1280,500,488,3,19/08/1999,Desapropriação,08/12/1998,"21120,118099999999686",,,26375.0,211.200414,0.008008,assentamento,bucket_4

In [28]:
#Criando lista de dataframes ja filtrado com os jenks que queremos
pd_list_jenks=[pd_list[0].query('cut_jenks=="bucket_4" or cut_jenks=="bucket_5"'),
                    pd_list[1].query('cut_jenks=="bucket_4" or cut_jenks=="bucket_5"'),
                    pd_list[2].query('cut_jenks=="bucket_4" or cut_jenks=="bucket_5"'),
                    pd_list[3].query('cut_jenks=="bucket_4" or cut_jenks=="bucket_5"'),
                    SNUC.query('cut_jenks=="bucket_4" or cut_jenks=="bucket_5"'),
                    pd_list[6].query('cut_jenks=="bucket_4" or cut_jenks=="bucket_5"')]
pd_list_jenks[4]

,OID_,esfera,sum_gain,Point_Coun,Cat_Fun,Nome,Category,area_geom,sum_Area,Malha,SomaDolar,cut_jenks
19,19,federal,"120691,220235000000685",44,2,ESTAÇÃO ECOLÓGICA DA TERRA DO MEIO,Estação Ecológica,33731.532935,0.019700,ProtInt,1712230.0,bucket_5
46,15,estadual,"63061,162572599998384",21,3,ÁREA DE PROTEÇÃO AMBIENTAL TRIUNFO DO XINGU,Área de Proteção Ambiental,16782.846447,0.016246,UsoSus,1033069.0,bucket_4
48,17,estadual,"71207,819938500004355",22,3,ÁREA DE PROTEÇÃO AMBIENTAL ILHA DO BANANAL/CANTÃO,Área de Proteção Ambiental,15687.433247,0.014889,UsoSus,1053613.0,bucket_4
56,25,federal,"85539,902341299995896",15,3,FLORESTA NACIONAL DO JAMANXIM,Floresta,13015.019774,0.010062,UsoSus,1293506.0,bucket_4

In [27]:
#Formando o dataframe com as infos
lista_colunas = ['AssentSum','CAR_Sum','FloraNDest','SigefSum','SomaDolar','TI_Sum']

lista_malha = ['Assentamento','CAR','Flora Não Destinada','SIGEF','SNUC','TI']

lista_numero_prop = [pd_list_jenks[0].shape[0],pd_list_jenks[1].shape[0],pd_list_jenks[2].shape[0]
                     ,pd_list_jenks[3].shape[0],pd_list_jenks[4].shape[0],pd_list_jenks[5].shape[0]]

lista_soma_ = [pd_list_jenks[0][lista_colunas[0]].sum(),pd_list_jenks[1][lista_colunas[1]].sum(),pd_list_jenks[2][lista_colunas[2]].sum(),
              pd_list_jenks[3][lista_colunas[3]].sum(),pd_list_jenks[4][lista_colunas[4]].sum(),
              pd_list_jenks[5][lista_colunas[5]].sum()]

lista_soma_area = [pd_list_jenks[0].area_geom.sum(),pd_list_jenks[1].area_geom.sum(),pd_list_jenks[2].area_geom.sum(),
              pd_list_jenks[3].area_geom.sum(),pd_list_jenks[4].area_geom.sum(),
              pd_list_jenks[5].area_geom.sum()]


df_soma_jenks = pd.DataFrame({'Malha Fundiária':lista_malha,'Numero de propriedades':lista_numero_prop,'Soma dos mais importantes':lista_soma_,'Soma de Área das Propriedades':lista_soma_area})

df_soma_jenks['Porcentagem do Total'] = (df_soma_jenks['Soma dos mais importantes'] / 66846626)*100
df_soma_jenks['Porcentagem do Total Da Malha Toda'] = (df_soma_jenks['Soma dos mais importantes'] / df_soma_malha_order['Soma, em Dolar, de importancia da Malha Fundiaria'])*100
df_soma_jenks['Proporção - Soma Por Area da Malha'] = df_soma_jenks['Soma dos mais importantes'] / df_soma_jenks['Soma de Área das Propriedades']
df_soma_jenks['Proporção - Soma por Nº Propriedade'] = df_soma_jenks['Soma dos mais importantes'] / df_soma_jenks['Numero de propriedades']
show(df_soma_jenks.sort_values(by='Soma dos mais importantes',ascending=False))

### Analisando a perda de dolar por ano

In [62]:
#Definindo nome de arquivos e diretórios:
dir_tables2 = 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento/'
ano = [2015,2016,2017,2018,2019,2020,2021,2022]
my_list_files = glob.glob(dir_tables2+'*.csv')

my_list_files

['C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento\\TelesPires_desmatamento_2015.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento\\TelesPires_desmatamento_2016.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento\\TelesPires_desmatamento_2017.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento\\TelesPires_desmatamento_2018.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento\\TelesPires_desmatamento_2019.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento\\TelesPires_desmatamento_2020.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento\\TelesPires_desmatamento_2021.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_Por_Desmatamento\\TelesPires_desmatamento_2022.csv']

In [65]:
#Lendo os arquivos
pd_list = []
for i in range(len(my_list_files)):
    a = pd.read_csv(my_list_files[i],sep = ';')
    a['Ano'] = ano[i]
    pd_list.append(a)
desmat_ano = pd.concat(pd_list,ignore_index=True)

In [70]:
desmat_ano.groupby('Ano',as_index = False).gridcode.sum()

    Ano  gridcode
0  2015   8968745
1  2016  10733714
2  2017   9466929
3  2018   9628934
4  2019  10903311
5  2020  11560037
6  2021  11804759
7  2022  10537516