### Neste script vamos analisar os dados de malha fundiária mais importantes para a Hidreletrica de Teles Pires

Vamos analisar os grandes números para Teles Pires  
Primeiro vamos ler os dados

In [1]:
#Importando pacotes
import pandas as pd
import numpy as np
import glob
from itables import show
import jenkspy
import seaborn as sns
from matplotlib import pyplot
pd.options.display.float_format = '{:20,.5f}'.format
usuario='napcc'

In [2]:
#Definindo nome de arquivos e diretórios:
dir_tables = 'C:/Users/'+usuario+'/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/'

my_list_files = glob.glob(dir_tables+'*.csv')

malha = ['assentamento','CAR','FloraNaoDest','SIGEF','SNUC','TI']
my_list_files

['C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\Assentamentos_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\CAR_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\FloraNaoDest_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\Sigef_SumOfValues_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\SNUC_TelesPires_featureTable.csv',
 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable\\TIHomolog_SumOfValues_featureTable.csv']

In [3]:
#Lendo os arquivos, alimentando  a lista de DFs e criando uma coluna com que tipo de malha é

pd_list = []
for i in range(len(my_list_files)):
    a = pd.read_csv(my_list_files[i],sep = ';')
    a['Malha'] = malha[i]
    pd_list.append(a)

## Agora vamos calcular os grandes números para cada malha fundiária!  
Nós sabemos que a analise de Teles Pires possui 66.846.626,00 milhões de dolares.

In [4]:
#Vamos passar a coluna de dolar por 1km² para number. Estava string
pd_list[0]['Dolar_1km2'] = pd_list[0]['Dolar_1km2'].str.replace(',','.').astype('float')
pd_list[1]['Dolar_1km2'] = pd_list[1]['Dolar_1km2'].str.replace(',','.').astype('float')
pd_list[2]['Dolar_1km2'] = pd_list[2]['Dolar_1km2'].str.replace(',','.').astype('float')
pd_list[3]['Dolar_1km2'] = pd_list[3]['Dolar_1km2'].str.replace(',','.').astype('float')
pd_list[4]['Dolar_1km2'] = pd_list[4]['Dolar_1km2'].str.replace(',','.').astype('float')
pd_list[5]['Dolar_1km2'] = pd_list[5]['Dolar_1km2'].str.replace(',','.').astype('float')


#Vamos passar a coluna de geometria para number. Estava string
pd_list[0]['area_geom'] = pd_list[0]['area_geom'].str.replace(',','.').astype('float')
pd_list[1]['area_geom'] = pd_list[1]['area_geom'].str.replace(',','.').astype('float')
pd_list[2]['area_geom'] = pd_list[2]['area_geom'].str.replace(',','.').astype('float')
pd_list[3]['area_geom'] = pd_list[3]['area_geom'].str.replace(',','.').astype('float')
pd_list[4]['area_geom'] = pd_list[4]['area_geom'].str.replace(',','.').astype('float')
pd_list[5]['area_geom'] = pd_list[5]['area_geom'].str.replace(',','.').astype('float')


#Vamos passar a coluna de Toda Soma de dolar pra área toda do pixel  para number tbm
pd_list[0]['DolarPixel'] = pd_list[0]['DolarPixel'].str.replace(',','.').astype('float')
pd_list[1]['DolarPixel'] = pd_list[1]['DolarPixel'].str.replace(',','.').astype('float')
pd_list[2]['DolarPixel'] = pd_list[2]['DolarPixel'].str.replace(',','.').astype('float')
pd_list[3]['DolarPixel'] = pd_list[3]['DolarPixel'].str.replace(',','.').astype('float')
pd_list[4]['DolarPixel'] = pd_list[4]['DolarPixel'].str.replace(',','.').astype('float')
pd_list[5]['DolarPixel'] = pd_list[5]['DolarPixel'].str.replace(',','.').astype('float')

In [5]:
#Vamos agora calcular o valor de soma das áreas e criar uma coluna para dividir pela total de Teles Pires
malha_fundi = ['assentamento','CAR','FloraNaoDest','SIGEF','SNUC','TI']
nome_col = 'DolarPixel'

assentamento_dolar = pd_list[0][nome_col].sum()
CAR_dolar = pd_list[1][nome_col].sum()
FloraNaoDest_dolar = pd_list[2][nome_col].sum()
SIGEF_dolar = pd_list[3][nome_col].sum()
SNUC_dolar = pd_list[4][nome_col].sum()
TI_dolar = pd_list[5][nome_col].sum()
malha_dol = [assentamento_dolar,CAR_dolar,FloraNaoDest_dolar,SIGEF_dolar,SNUC_dolar,TI_dolar]

assentamento_dolar_pctagem=(assentamento_dolar/3587676867.088776)*100
CAR_dolar_pctagem=(CAR_dolar/3587676867.088776)*100
FloraNaoDest_dolar_pctagem=(FloraNaoDest_dolar/3587676867.088776)*100
SIGEF_dolar_pctagem=(SIGEF_dolar/3587676867.088776)*100
SNUC_dolar_pctagem=(SNUC_dolar/3587676867.088776)*100
TI_dolar_pctagem=(TI_dolar/3587676867.088776)*100
malha_dol_peloTotal = [assentamento_dolar_pctagem,CAR_dolar_pctagem,FloraNaoDest_dolar_pctagem,SIGEF_dolar_pctagem,
                      SNUC_dolar_pctagem,TI_dolar_pctagem]


df_final =pd.DataFrame({'Malha Fundiária':malha_fundi,'DolarPorMalhaFundiária':malha_dol,"Porcentagem,dolarizada, da malha para Total de TelesPires":malha_dol_peloTotal})
df_final.attrs['Valores Obtidos do Dolar'] = 'A Obtenção foi feita pela multiplicação da soma de valores da interpolação dentro de cada malha fundiária. Este valor da soma esta para 1km², portanto, multiplicamos esse valor por 53,670276 que é a área do pixel da interpolação '
df_final.attrs['Valor Total para Teles Pires'] ='3.587.676.867,088776 de dols'
df_final.attrs['Porcentagem que cada Malha influencia no total de teles pires'] ='Calculo feito a partir do que cada malha tem dolarizado dividido por 3.587.676.867,088776 de dols e multiplicado por 100'

show(df_final)
df_final['DolarPorMalhaFundiária'].sum()

3244364027.5106916

In [6]:
df_final.attrs

{'Valores Obtidos do Dolar': 'A Obtenção foi feita pela multiplicação da soma de valores da interpolação dentro de cada malha fundiária. Este valor da soma esta para 1km², portanto, multiplicamos esse valor por 53,670276 que é a área do pixel da interpolação ',
 'Valor Total para Teles Pires': '3.587.676.867,088776 de dols',
 'Porcentagem que cada Malha influencia no total de teles pires': 'Calculo feito a partir do que cada malha tem dolarizado dividido por 3.587.676.867,088776 de dols e multiplicado por 100'}

### Analisando a perda de dolar por ano
aqui vamos pegar o excel do spatial Join

In [32]:
#Lendo os arquivos dos spatial join de alerta por dolar de teles pires
diretorio = "C:/Users/"+usuario+"/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/Dolar_PorAlerta/"
files = glob.glob(diretorio+'*.csv')
files_alertas_teles = []
for i in range(len(files)):
    files_alertas_teles.append(pd.read_csv(files[i],sep=';'))
all_desmat_dol = pd.concat(files_alertas_teles)
all_desmat_dol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193213 entries, 0 to 26523
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   OID_        193213 non-null  int64
 1   Join_Count  193213 non-null  int64
 2   TARGET_FID  193213 non-null  int64
 3   fid_1       193213 non-null  int64
 4   state       193213 non-null  object
 5   path_row    193213 non-null  int64
 6   main_class  193213 non-null  object
 7   class_name  193213 non-null  object
 8   def_cloud   193213 non-null  object
 9   julian_day  193213 non-null  object
 10  image_date  193213 non-null  object
 11  year        193213 non-null  object
 12  area_km     193213 non-null  object
 13  scene_id    193213 non-null  object
 14  source      193213 non-null  object
 15  satellite   193213 non-null  object
 16  sensor      193213 non-null  object
 17  areaDesmat  193213 non-null  object
 18  Id          193213 non-null  int64
 19  gridcode    193213 non-null  int64
dtypes: int64(7), object(13)
memory usage: 31.0+ MB

In [8]:
#Transformando as colunas de numero em numeric
all_desmat_dol['year'] = all_desmat_dol['year'].str.replace(',','.').astype('float')
all_desmat_dol['areaDesmat'] = all_desmat_dol['areaDesmat'].str.replace(',','.').astype('float')

In [9]:
all_desmat_dol['AreaDesmatadaDolarizada'] = all_desmat_dol['areaDesmat']*all_desmat_dol['gridcode']
all_desmat_dol

,OID_,Join_Count,TARGET_FID,fid_1,state,path_row,main_class,class_name,def_cloud,julian_day,...,year,area_km,scene_id,source,satellite,sensor,areaDesmat,Id,gridcode,AreaDesmatadaDolarizada
0,0,1,0,25,PA,22562,DESMATAMENTO,d2015,"2013,000000000000000","196,000000000000000",...,"2,015.00000","0,002716660606583","2573,000000000000000",,,,0.00272,9146,1358,3.68923
1,1,1,1,27521,PA,22563,DESMATAMENTO,d2015,"2014,000000000000000","196,000000000000000",...,"2,015.00000","0,000018505683396","2542,000000000000000",,,,0.00002,9749,1916,0.03546
2,2,1,2,27525,PA,22563,DESMATAMENTO,d2015,"0,000000000000000","196,000000000000000",...,"2,015.00000","0,001094850042964","2542,000000000000000",,,,0.00109,9325,1269,1.38936
3,3,1,3,27637,PA,22263,DESMATAMENTO,d2015,"0,000000000000000","239,000000000000000",...,"2,015.00000","0,000015058591188","2578,000000000000000",,,,0.00002,9204,1335,0.02010
4,4,1,4,362,PA,22563,DESMATAMENTO,d2015,"0,000000000000000","196,000000000000000",...,"2,015.00000","0,000133036665435","2542,000000000000000",,,,0.00013,9323,1224,0.16284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26519,26519,1,26519,679004,PA,22562,DESMATAMENTO,d2022,"0,000000000000000","263,000000000000000",...,"2,022.00000","0,012456290167227","1495,000000000000000",Amazonia,Landsat,OLI,0.01246,7028,1326,16.51704
26520,26520,1,26520,679122,PA,22763,DESMATAMENTO,d2022,"0,000000000000000","229,000000000000000",...,"2,022.00000","0,043191673203075","1488,000000000000000",Amazonia,Landsat,OLI,0.04319,11132,918,39.64995
26521,26521,1,26521,679136,PA,22763,DESMATAMENTO,d2022,"0,000000000000000","229,000000000000000",...,"2,022.00000","0,101300232245249","1488,000000000000000",Amazonia,Landsat,OLI,0.10130,11347,1008,102.11064
26522,26522,1,26522,679178,PA,22462,DESMATAMENTO,d2022,"0,000000000000000","238,000000000000000",...,"2,022.00000","0,000024565682718","1503,000000000000000",Amazonia,Landsat,OLI,0.00002,8759,1695,0.04164
26523,26523,1,26523,679402,PA,22763,DESMATAMENTO,d2022,"0,000000000000000","229,000000000000000",...,"2,022.00000","0,030535220906153","1488,000000000000000",Amazonia,Landsat,OLI,0.03054,10728,788,24.06177

In [10]:
#Lendo os arquivos de Desmatamento dentro de cada malha fundiária
assentamento_alerta = pd.read_csv("C:/Users/" + usuario+"/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/AlertaPorMalha/Alerta_Assentamento_teles_filter.csv",
 sep=';')

car_alerta = pd.read_csv("C:/Users/" + usuario+"/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/AlertaPorMalha/Alerta_CAR_teles_filter.csv",
 sep=';')

flora_alerta = pd.read_csv("C:/Users/" + usuario+"/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/AlertaPorMalha/Alerta_Flora_teles_filter.csv",
 sep=';')

SIGEF_alerta =  pd.read_csv("C:/Users/" + usuario+"/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/AlertaPorMalha/Alerta_SIGEF_teles_filter.csv",
 sep=';')

SNUC_alerta =  pd.read_csv("C:/Users/" + usuario+"/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/AlertaPorMalha/Alerta_SNUC_teles_filter.csv",
 sep=';')

TI_alerta = pd.read_csv("C:/Users/" + usuario+"/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/FeaturesTable/AlertaPorMalha/Alerta_TI_teles_filter.csv",
 sep=';')

In [11]:
desmat_dolarizado_assentamento = all_desmat_dol[all_desmat_dol['fid_1'].isin(assentamento_alerta.fid_1.unique())]
desmat_dolarizado_car =  all_desmat_dol[all_desmat_dol['fid_1'].isin(car_alerta.fid_1.unique())]
desmat_dolarizado_flora =  all_desmat_dol[all_desmat_dol['fid_1'].isin(flora_alerta.fid_1.unique())]
desmat_dolarizado_SIGEF =  all_desmat_dol[all_desmat_dol['fid_1'].isin(SIGEF_alerta.fid_1.unique())]
desmat_dolarizado_SNUC =  all_desmat_dol[all_desmat_dol['fid_1'].isin(SNUC_alerta.fid_1.unique())]
desmat_dolarizado_TI =  all_desmat_dol[all_desmat_dol['fid_1'].isin(TI_alerta.fid_1.unique())]

In [28]:
import itertools  
desmat_dolarizado_assentamento.fid_1.unique()
desmat_dolarizado_car.fid_1.unique()
desmat_dolarizado_flora.fid_1.unique()
desmat_dolarizado_SIGEF.fid_1.unique()
desmat_dolarizado_SNUC.fid_1.unique()
desmat_dolarizado_TI.fid_1.unique()



result = list(itertools.chain(desmat_dolarizado_assentamento.fid_1.unique(),
                              desmat_dolarizado_car.fid_1.unique(),
                             desmat_dolarizado_flora.fid_1.unique(),desmat_dolarizado_SIGEF.fid_1.unique(),
                             desmat_dolarizado_SNUC.fid_1.unique(),desmat_dolarizado_TI.fid_1.unique()))
result

desmatamentoSemMalha = all_desmat_dol[~all_desmat_dol['fid_1'].isin(result)]
desmatamentoSemMalha

7729634.465121214

# Criando a planilha final

In [25]:
show(df_final)
df_final.attrs

{'Valores Obtidos do Dolar': 'A Obtenção foi feita pela multiplicação da soma de valores da interpolação dentro de cada malha fundiária. Este valor da soma esta para 1km², portanto, multiplicamos esse valor por 53,670276 que é a área do pixel da interpolação ',
 'Valor Total para Teles Pires': '3.587.676.867,088776 de dols',
 'Porcentagem que cada Malha influencia no total de teles pires': 'Calculo feito a partir do que cada malha tem dolarizado dividido por 3.587.676.867,088776 de dols e multiplicado por 100'}

In [26]:
show(all_desmat_dol.groupby('year',as_index=False).AreaDesmatadaDolarizada.sum())
all_desmat_dol.groupby('year',as_index=False).AreaDesmatadaDolarizada.sum().AreaDesmatadaDolarizada.sum()

46196196.199730985

In [24]:
desmat_dolarizado_assentamento['Classe']='Assentamento'
desmat_dolarizado_car['Classe']='CAR'
desmat_dolarizado_flora['Classe']='Floresta Ñ Destinada'
desmat_dolarizado_SIGEF['Classe']='SIGEF'
desmat_dolarizado_SNUC['Classe']='SNUC'
desmat_dolarizado_TI['Classe']='Terra Indigena'
desmatamento_malha = pd.concat([desmat_dolarizado_assentamento,desmat_dolarizado_car,
          desmat_dolarizado_flora,desmat_dolarizado_SIGEF,
          desmat_dolarizado_SNUC,desmat_dolarizado_TI],ignore_index = True)
show(desmatamento_malha.groupby(['Classe','year'],as_index=False).AreaDesmatadaDolarizada.sum().pivot(index='Classe', columns='year', values='AreaDesmatadaDolarizada'))

C:\Users\napcc\AppData\Local\Temp\ipykernel_2784\3000784487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desmat_dolarizado_assentamento['Classe']='Assentamento'
C:\Users\napcc\AppData\Local\Temp\ipykernel_2784\3000784487.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desmat_dolarizado_car['Classe']='CAR'
C:\Users\napcc\AppData\Local\Temp\ipykernel_2784\3000784487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desmat_dolarizado_flora['Classe']='Floresta Ñ Destinada'
C:\Users\napcc\AppData\Local\Temp\ipykernel_2784\3000784487.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desmat_dolarizado_SIGEF['Classe']='SIGEF'
C:\Users\napcc\AppData\Local\Temp\ipykernel_2784\3000784487.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desmat_dolarizado_SNUC['Classe']='SNUC'
C:\Users\napcc\AppData\Local\Temp\ipykernel_2784\3000784487.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desmat_dolarizado_TI['Classe']='Terra Indigena'