### Neste script vamos analisar os dados de malha fundiária mais importantes para a Hidreletrica de Teles Pires

Foi decidido que iremos utilizar a malha selecionada pelo Metodo da Soma dividida pela área da malha  
Neste primeiro Bloco de código, vamos ver o quanto, em dolar, cada malha fundiária interessa para Teles Pires

In [2]:
#Importando pacotes
import pandas as pd
import numpy as np
import glob

In [6]:
#Definindo nome de arquivos e diretórios:
dir_tables = 'C:\\Users\\napcc\\Dropbox (CPI)\\EduardoMinsky\\Analise_TellesPires\\Analise_Current\\FeaturesTable\\'
my_list_files = glob.glob(dir_tables+'*.csv')

malha = ['assentamento','CAR','FloraNaoDest','SIGEF','ProtInt','UsoSus','TI']

In [26]:
#Lendo os arquivos e já criando uam coluna com qual malha fundiária aquele csv pertence

pd_list = []
for i in range(len(my_list_files)):
    a = pd.read_csv(my_list_files[i],sep = ';')
    a['Malha'] = malha[i]
    pd_list.append(a)

         Sigef_sum           area_geom   sum_Area  Malha
0     1159,2399902   1,030717436620000  0,0008891  SIGEF
1     1540,8199463   1,304974519180000  0,0008469  SIGEF
2     1371,5600586   4,996287266630000  0,0036428  SIGEF
3     1113,3800049   0,285469436053000  0,0002564  SIGEF
4     1044,6999512  14,214375446700000  0,0136062  SIGEF
...            ...                 ...        ...    ...
5325  1258,4799805  30,172389045399999  0,0239753  SIGEF
5326  1443,4699707   3,333044690030000  0,0023090  SIGEF
5327  1219,3000488   0,455261080327000  0,0003734  SIGEF
5328  1390,3599854   6,999711494620000  0,0050345  SIGEF
5329   964,6250000  16,437924926200001  0,0170407  SIGEF

[5330 rows x 4 columns]

In [35]:
#Retendo as colunas que importam
pd_list_filtered=[]
for i in range(len(pd_list)):
    pd_list_filtered.append(pd_list[i].iloc[:,-4:])

In [84]:
#Renomeando as colunas para depois darmos merge na lista toda
pd_list_filtered_columns =[]
list_dict_columns = [{'AssentSum':'SomaTelesPires_Malha'},{'Car_Sum':'SomaTelesPires_Malha'},
                    {'FloraNSum':'SomaTelesPires_Malha'},{'Sigef_sum':'SomaTelesPires_Malha'},
                    {'IntegSum':'SomaTelesPires_Malha'},{'UsoSus_sum':'SomaTelesPires_Malha'},
                    {'TI_Sum':'SomaTelesPires_Malha'}]
for i in range(len(pd_list_filtered)):
    a = pd_list_filtered[i].rename(columns = list_dict_columns[i])
    pd_list_filtered_columns.append(a)

In [120]:
#Merging essa lista
df_ = pd.concat(pd_list_filtered_columns)
#Transformando as colunas de numero em numeric
df_['SomaTelesPires_Malha'] = df_['SomaTelesPires_Malha'].str.replace(',','.').astype('float')
df_['area_geom'] = df_['area_geom'].str.replace(',','.').astype('float')
df_['sum_Area'] = df_['sum_Area'].str.replace(',','.').astype('float')
#Resetando index:
df_.reset_index(inplace=True)
del df_['index']
df_[df_.SomaTelesPires_Malha<0].SomaTelesPires_Malha.sum()

#Mudando os valores negativos da interpolação para a mediana (1398.20)
df_.SomaTelesPires_Malha = np.where(
    df_.SomaTelesPires_Malha <0,1398.20, df_.SomaTelesPires_Malha

)
df_

      SomaTelesPires_Malha    area_geom  sum_Area         Malha
0              9767.169922   472.349935  0.048361  assentamento
1              1237.390015    16.992984  0.013733  assentamento
2              2409.570068   104.352213  0.043307  assentamento
3              2218.909912    91.730441  0.041340  assentamento
4              3794.810059   234.804601  0.061875  assentamento
...                    ...          ...       ...           ...
7905          12886.200195  6046.542744  0.469226            TI
7906         139582.000000  1713.615736  0.012277            TI
7907         249193.000000  4372.723006  0.017548            TI
7908          44009.800781  1785.445059  0.040569            TI
7909           5651.669922  6688.006868  1.183370            TI

[7910 rows x 4 columns]

In [122]:
df_.SomaTelesPires_Malha.sum()

60341659.9072697