### Neste script vamos analisar os dados de malha fundiária mais importantes para a Hidreletrica de Teles Pires

Foi decidido que iremos utilizar a malha selecionada pelo Metodo da Soma dividida pela área da malha  
Neste primeiro Bloco de código, vamos ver o quanto, em dolar, cada malha fundiária interessa para Teles Pires

In [3]:
#Importando pacotes
import pandas as pd
import numpy as np
import glob

In [17]:
#Definindo nome de arquivos e diretórios:
dir_tables = 'C:/Users/napcc/Dropbox (CPI)/EduardoMinsky/Analise_TellesPires/Analise_Current/HighValuesForPolygons/FeatureTables/'
my_list_files = glob.glob(dir_tables+'*.csv')

malha = ['assentamento','CAR','FloraNaoDest','SIGEF','ProtInt','UsoSus','TI']

In [50]:
#Lendo os arquivos e já criando uam coluna com qual malha fundiária aquele csv pertence

pd_list = []
for i in range(len(my_list_files)):
    a = pd.read_csv(my_list_files[i],sep = ';')
    a['Malha'] = malha[i]
    pd_list.append(a)

In [80]:
#Retendo as colunas que importam
for i in range(len(pd_list)):
    pd_list[i] = pd_list[i].loc[:,['SUM','Malha']]
    
#Fazendo o merge dessa lista de dfs
df_ = pd.concat(pd_list)

#Transformando a coluna de SUM em numérico
df_['SUM'] = df_['SUM'].str.replace(',','.').astype('float')
#Resetando index:
df_.reset_index(inplace=True)
del df_['index']

In [82]:
#Agregando dados:
df_.groupby('Malha',as_index = False).SUM.sum()

          Malha         SUM
0           CAR     18929.0
1  FloraNaoDest    632606.0
2       ProtInt   3320029.0
3         SIGEF    194473.0
4            TI  13437757.0
5        UsoSus   5461937.0
6  assentamento     89486.0